<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'AppE/padre.html' %}
    {% load static %}
    {% block ContenidoQueCambia  %}


    <form action="/buscar/" method="GET">
        
        <input type="string" name="modelo" id="modelo">
        <input type="submit" value="Buscar">
    
    


        {% endblock %}





    </form>

</body>
</html>